{% extends "default.html.j2" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}{{ config.TITLE }} - Request Password Reset{% endblock %}

{% block header %}<h1>Request Password Reset</h1>{% endblock %}

{% block page_content %}
<h2>Please enter your username or email:</h2>
<div class="col-md-4">
  {{ wtf.quick_form(form) }}
</div>
{% endblock %}
