{% extends "default.html.j2" %}

{% block title %}Resource Not Found{% endblock %}

{% block header %}<h1>The Page Could Not Be Found</h1>{% endblock %}

{% block page_content %}
<p>I'm sorry, but the resource you're looking for could not be found.</p>
{% endblock %}
