{% extends "default.html.j2" %}

{% block title %}{{ super() }}: {{ title }}{% endblock %}

{% block header %}<h1>{{ title }}</h1>{% endblock %}

{% block page_content %}
<p>{{ config.TITLE }} is the collaborative work of Jason Escamilla and David Scott. Fans of all forms of culture, our platform was built as a means of opening up a discussion and providing a space for exploring truth in art. It is our firm belief that art does not happen in a vacuum and that you cannot create something without making a statement. What you'll find here is a mixture of thoughtful reviews that try to gauge the quality of a film above and beyond just how much the reviewer enjoyed it and editorials that ask important questions about the works they discuss.</p>

<p>By engaging with movies beyond the simple question of whether or not they were enjoyable, we hope to find more meaning in the media we consume because it is important to think about what you take in and put back out. To contact us, request a review of a movie, show, book, or game, or especially if you are interested in contributing, please email us at <a href="mailto:{{ config.EMAIL }}">{{ config.EMAIL }}</a>.</p>

<h2>Our Editors</h2>

<div>
{% for publisher in publishers %}
  <div class="container portfolio">
  	<div class="bio-info">
  		<div class="row">
  			<div class="col-md-3">
  				<div class="row">
  					<div class="col-md-12">
  						<div class="bio-image">
  							<img class="rounded-circle" src="{{ publisher.gravatar(size=400) }}" alt="{{ publisher.first_name }} profile pic.">
  						</div>
  					</div>
  				</div>
  			</div>
  			<div class="col-md-9">
  				<div class="bio-content">
  					<h3 class="bio-header"><a href="{{ url_for('main.profile', id = publisher.id) }}">{{ publisher.first_name }} {{ publisher.last_name }}</a></h3>
  					<h5 class="bio-subheader">{{ publisher.role.name }}</h5>
  					<p class="bio-content">{{ publisher.about_me }}</p>
  				</div>
  			</div>
  		</div>
  	</div>
  </div>
{% endfor %}
</div>

{% endblock %}
