{% extends "default.html.j2" %}
{% import "includes/macros.html.j2" as macros with context %}


{% block title %}{% if not article.published %}Draft: {% endif %}{{ super() }}: {{ article.title }}{% endblock %}

{% block page_content %}
<div class="row">
  {% if (article.published and current_user.can(Permission.PUBLISH)) or (not article.published and current_user.can(Permission.EDIT)) %}
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Publisher Options</h5>
        <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
        <a href="{{ url_for('admin.edit_article',id=article.id) }}" class="btn btn-primary">Edit Article</a>
        <a href="{{ url_for('admin.unpublish',article_id=article.id) }}" class="btn btn-warning">Un-Publish</a>
        {% if article.draft %}
        <a class="btn btn-secondary" href="{{ url_for('admin.edit_article',id=article.id,edit='draft') }}">Resume Draft</a>
        {% endif %}
      </div>
    </div>
  </div>
  {% endif %}
  <div class="col-lg-8">
    <div class="post">
      <article class="post-content">
        <header class="post-header">
          <h2 class="post-title">{% if not article.published %}Draft Article: {% endif %}{% if article.youtube %}Video: {% endif %}{{ article.title }}</h2>
          <p class="post-meta">{{ article.type.name | capitalize }} • {{ article.publish_date.strftime("%b %-d, %Y") }} • Author: <a href="{{ url_for('main.profile', id = article.author.id) }}">{{ article.author.first_name }} {{ article.author.last_name }}</a></p>
          <p class="post-meta">{% for tag in article.tags %}<span class="badge badge-pill badge-secondary">{{ tag.name }}</span> {% endfor %}</p>
          {% include "includes/social-media.html" %}
        </header>
        {% if article.youtube %}{{ macros.media(type="youtube",src=article.youtube,feature=True) }}{% else %}<img class="img-responsive webfeedsFeaturedVisual" src="{{ resized_img_src(article.image,width=994,height=466,mode='crop') }}" alt="{{ article.title }} Cover">{% endif %}
        {% if not article.published and article.draft %}{{ article.draft }}{% endif %}{{ article.body }}
        {% if article.rating %}
        <table class="table">
          <tbody>
            <tr>
              <td><b>Final Verdict</b>:</td><td>{{ article.final_verdict }}</td>
            </tr>
            <tr>
              <td><b>Rating</b>:</td><td>{{ article.letter_rating }}</td>
            </tr>
          </tbody>
        </table>
        {% endif %}
      </article>
      {% include "includes/social-media.html" %}
      <br>
      <hr class="clear">
      <h2 id="comments">Comments</h2>
      <div class="fb-comments" data-href="{{ article.url }}" data-width="100%"></div>
      <noscript>Please enable JavaScript to view the comments powered by Facebook.</noscript>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="sidebar-nav">
      {#<h3>Sponsors</h3>
      {% include ads.html %}#}
      <!--googleoff: all-->
      <!--noindex-->
      <h3>Related Articles</h3>
      {% for related_article in article.related_articles %}
      {{ render_template('includes/related_articles.html.j2',related_article=related_article) }}
      {% endfor %}
      <!--/noindex-->
      <!--googleon: all-->
    </div>
  </div>
</div>
{% endblock %}
