{% extends "default.html.j2" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "includes/macros.html.j2" as macros %}

{% block title %}{{ super() }}: Home{% endblock %}

{% block page_content %}
<div class="home">
  <div class="page-heading d-none d-lg-block">
    <h1>Icy & Chilly Reviews and Editorials</h1>
    <h3 class="page-meta">Your home for movies {{ config['SERVER_NAME']}}, entertainment, and more!</h3>
  </div>

  <div id="home-slider" class="owl-carousel">
    {% for article in articles[:15] %}
    <div class="item">
      <a href="{{ article.url }}">
        <div class="slide-text">
          <h2><span>{{ article.title }} / {% if article.youtube %}Video {% endif %}{{ article.type.name | capitalize }}</span></h2>
          <span class="slide-blurb"><span>{{ article.blurb }}</span></span>
        </div>
        <div class="slide-image">
          <img {% if not loop.first %}class="lazyOwl" data-src="{{ resized_img_src(article.image,width=1110,height=555,mode='crop',quality="70") }}"{% endif %}{% if loop.first %}src="{{ resized_img_src(article.image,width=1110,height=555,mode='crop',quality="70") }}"{% endif %} alt="{{ article.title }}">
        </div>
      </a>
    </div>
    {% endfor %}
  </div>

  <h2>Recent Reviews</h2>

  <div class="row">
    {% for post in all_articles['Review'][:6] %}
    {{ render_template('includes/post-panel.html.j2',post=post) }}
    {% endfor %}
  </div>

  <h2>Recent News</h2>

  <div class="row">
    {% for post in all_articles['News'][:3] %}
    {{ render_template('includes/post-panel.html.j2',post=post) }}
    {% endfor %}
  </div>

  <h2>Recent Editorials</h2>

  <div class="row">
    {% for post in all_articles['Editorial'][:3] %}
    {{ render_template('includes/post-panel.html.j2',post=post) }}
    {% endfor %}
  </div>

  <p class="rss-subscribe">subscribe <a href="">via RSS</a></p>
</div>
{#<div class="">
  {{ macros.pagination_widget(pagination, 'main.index') }}
</div>#}
{% endblock %}
