{% extends "default.html.j2" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "includes/macros.html.j2" as macros %}

{% block title %}{{ super() }}: Home{% endblock %}

{% block page_content %}
<div class="home">
  <div class="page-heading visible-md-block visible-lg-block">
    <h1>Icy & Chilly Reviews and Editorials</h1>
    <h3 class="page-meta">Your home for movies, entertainment, and more!</h3>
  </div>

  <div id="home-slider" class="owl-carousel">
    {% for article in articles %}
    <div class="item" {% if loop.first %}style="display:block; background: url('{{ article.image }}');"{% endif %}>
      <a href="{{ url_for('main.article_by_id', id=article.id) }}">
        <div class="slide-text">
          <h2><span>{{ article.title }} / {% if article.youtube %}Video {% endif %}{{ article.type.name | capitalize }}</span></h2>
          <span class="slide-blurb"><span>{{ article.blurb }}</span></span>
        </div>
        <div class="slide-image">
          <img {% if not loop.first %}class="lazyOwl" data-src="{{ article.image }}"{% endif %}{% if loop.first %}src="{{ article.image }}"{% endif %} alt="{{ article.title }}">
        </div>
      </a>
    </div>
    {% endfor %}
  </div>

  <h2>Recent Reviews</h2>

  <div class="row">
  </div>

  <h2>Recent News</h2>

  <div class="row">
  </div>

  <h2>Recent Editorials</h2>

  <div class="row">
  </div>

  <p class="rss-subscribe">subscribe <a href="">via RSS</a></p>
</div>


{% include "includes/articles.html.j2" %}
<div class="">
  {{ macros.pagination_widget(pagination, 'main.index') }}
</div>
{% endblock %}
{% block js %}
{{ super() }}
{% endblock %}
