{% extends "default.html.j2" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Eskimo TV: Home{% endblock %}

{% block header %}<h1>Hello, {% if current_user.is_authenticated %}{{ current_user.username }}{% else %}Stranger{% endif %}!</h1>{% endblock %}

{% block page_content %}
{% if current_user.can(Permission.WRITE) %}
<div class="">
  {{ wtf.quick_form(form) }}
</div>
{% endif %}
{% include "includes/articles.html.j2" %}
{% endblock %}
