<ul class="articles">
  {% for article in articles %}
  {% if current_user == article.author or current_user.is_administrator() or article.published %}
    <li class="article">
      <div class="profile-thumbnail">
        <a href="{{ url_for('main.profile', id = article.author.id) }}">
          <img class="rounded" src="{{ article.author.gravatar(size=40) }}" alt="{{ article.author.username }} Avatar">
        </a>
      </div>
      <div class="article-content">
        <div class="article-date">{{ moment(article.publish_date).fromNow() }}</div>
        <div class="article-author">
          {% if article.title_slug %}
            <a href="{{ article.url }}">
              {{ article.title }}
            </a>
          {% else %}
            <a href="{{ url_for('main.article_by_id', id=article.id) }}">
              No Title
            </a>
          {% endif %}
        </div>
        <div class="article-body">
          {{ moment(article.publish_date).format('MMMM Do YYYY') }}{#{% if article.body %}{{ render_template_string(article.body) }}{% endif %}#}
        </div>
      </div>
    </li>
  {% endif %}
  {% endfor %}
</ul>
