<!-- Navbar -->

<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="{{ url_for('main.index') }}"><img src="{{ url_for('images',filename='img/site-resource/logo.png',width=175) }}" alt="Eskimo TV Logo" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item{% if request.url_rule.endpoint == 'main.index' %} active{% endif %}">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item{% if request.url_rule.endpoint == 'main.reviews' %} active{% endif %}">
          <a class="nav-link" href="{{ url_for('main.reviews') }}">Reviews</a>
        </li>
        <li class="nav-item{% if request.url_rule.endpoint == 'main.editorials' %} active{% endif %}">
          <a class="nav-link" href="{{ url_for('main.editorials') }}">Editorials</a>
        </li>
        <li class="nav-item{% if request.url_rule.endpoint == 'main.news' %} active{% endif %}">
          <a class="nav-link" href="{{ url_for('main.news') }}">News</a>
        </li>
        <li class="nav-item{% if request.url_rule.endpoint == 'main.archive' %} active{% endif %}">
          <a class="nav-link" href="{{ url_for('main.archive') }}">Archive</a>
        </li>
        <li class="nav-item{% if request.url_rule.endpoint == 'main.about' %} active{% endif %}">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>
      <ul class="navbar-nav navbar-right">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="account"><i class="far fa-user-circle"></i> <span class="caret"></span></a>
          <ul class="dropdown-menu" aria-labelledby="account">
            {% if current_user.is_authenticated %}
            <li><a class="dropdown-item" href="{{ url_for('main.profile',id=current_user.id) }}">Profile</a></li>
              <li><a class="dropdown-item" href="{{ url_for('admin.edit_profile') }}">Edit Profile</a></li>
            <div class="dropdown-divider"></div>
            <li><a class="dropdown-item" href="{{ url_for('auth.logout') }}">Log Out</a></li>
            {% else %}
            <li><a class="dropdown-item" href="{{ url_for('auth.login') }}">Log In</a></li>
            <div class="dropdown-divider"></div>
            <li><a class="dropdown-item" href="{{ url_for('auth.register') }}">Register</a></li>
            {% endif %}
          </ul>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" name="cse" action="/results" id="cse-search-box" role="search">
        <input type="hidden" name="cx" value="partner-pub-8475356019399300:2319328558" />
        <input type="hidden" name="cof" value="FORID:10" />
        <input type="hidden" name="ie" value="UTF-8" />
        <input class="form-control mr-sm-2" name="q" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" name="sa" value="Search" type="submit">Search</button>
      </form>
      <script>
        (function() {
          var cx = 'partner-pub-8475356019399300:2319328558';
          var gcse = document.createElement('script');
          gcse.type = 'text/javascript';
          gcse.async = true;
          gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(gcse, s);
        })();
      </script>
    </div>
  </div>
</nav>

<!-- End Navbar -->


{#
<!-- Navbar -->
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('main.index') }}"><img src="{{ url_for('images',filename='img/site-resource/logo.png',width=175) }}" alt="Eskimo TV Logo" /></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav">
        <li{% if page.order == 1 %} class="active"{% endif %}><a href="/reviews/">Reviews{% if page.order == node.order %}<span class="sr-only">(current)</span>{% endif %}</a></li>
        <li{% if page.order == 2 %} class="active"{% endif %}><a href="/editorials/">Editorials{% if page.order == node.order %}<span class="sr-only">(current)</span>{% endif %}</a></li>
        <li{% if page.order == 3 %} class="active"{% endif %}><a href="/archive/">Archive{% if page.order == node.order %}<span class="sr-only">(current)</span>{% endif %}</a></li>
        <li{% if page.order == 10 %} class="active"{% endif %}><a href="/about/">About{% if page.order == node.order %}<span class="sr-only">(current)</span>{% endif %}</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if current_user.is_authenticated %}
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="account">Account <span class="caret"></span></a>
          <ul class="dropdown-menu" aria-labelledby="account">
            <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>s
          </ul>
        </ul>
        {% else %}
        <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
        {% endif %}
        <li>
        <div class="w-form form-wrapper hidden-sm">
          <form name="cse" action="/results" id="cse-search-box" class="navbar-form navbar-right" role="search">
              <input type="hidden" name="cx" value="partner-pub-8475356019399300:2319328558" />
              <input type="hidden" name="cof" value="FORID:10" />
              <input type="hidden" name="ie" value="UTF-8" />
              <div class="form-group">
                <input type="text" name="q" class="form-control" placeholder="Search">
              </div>
              <input class="btn btn-default" type="submit" name="sa" value="Search" />
          </form>
        </div>
        </li>
      </ul>

      <script>
        (function() {
          var cx = 'partner-pub-8475356019399300:2319328558';
          var gcse = document.createElement('script');
          gcse.type = 'text/javascript';
          gcse.async = true;
          gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(gcse, s);
        })();
      </script>
    </div>
  </div>
</nav>
<!-- End Navbar -->
#}
