<article class="col-lg-12">
    <a href="{{ related_article.url }}">
        <figure class="blog-thumb">
        <img src="{{ resized_img_src(related_article.image,width=480,height=225,mode='crop') }}" alt="{{ related_article.tags[0].name.capitalize() }}: {{ related_article.title }}" title="{{ related_article.type.name.capitalize() }}: {{ related_article.title }}">
        </figure>
    </a>
    <a href="{{ related_article.url }}">
        <h4>{{ related_article.title }}</h4>
        <h5>{% if related_article.youtube %}Video {% endif %}{{ related_article.type.name.capitalize() }} by {{ related_article.author.first_name }} {{ related_article.author.last_name }}</h5>
    </a>

    <i class="far fa-clock"></i> {{ related_article.publish_date.strftime("%b %d, %Y") }} | <a href="{{ related_article.url }}#comments">Comments <span class="badge badge-secondary disqus-comment-count" data-disqus-url="{{ related_article.url }}#disqus_thread"></span></a><br><br>
</article>
