<!DOCTYPE html>
<html>
<head>
  {% block head %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

  {% if no_index %}
  <meta name="robots" content="noindex">
  {% endif %}

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static',filename='favicon/apple-touch-icon.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static',filename='favicon/favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static',filename='favicon/favicon-16x16.png') }}">
  <link rel="manifest" href="{{ url_for('static',filename='favicon/site.webmanifest') }}">
  <link rel="mask-icon" href="{{ url_for('static',filename='favicon/safari-pinned-tab.svg') }}" color="#5bbad5">
  <link rel="shortcut icon" href="{{ url_for('static',filename='favicon/favicon.ico') }}">
  <meta name="msapplication-TileColor" content="#2d89ef">
  <meta name="msapplication-config" content="{{ url_for('static',filename='favicon/browserconfig.xml') }}">
  <meta name="theme-color" content="#ffffff">

  <!-- SEO / META / OG Data -->
  <title>{% block title %}{{ config.TITLE }}{% endblock %}</title>

  <!-- CSS -->
  <!-- no bootstrap CDN, all bootstrap 4 code is compiled with the theme. -->
  {% assets 'all_css' %}
  <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}


  {#
  <!-- Google Ads Script -->
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-8475356019399300",
      enable_page_level_ads: true
    });
  </script>
  #}
  {% endblock %}
</head>
<body>
  <div class="page-container">
    {% block nav %}
    {% include "includes/nav.html.j2" %}
    {% endblock %}

    {% block content %}
    <div class="container content-wrap">
      {% for message in get_flashed_messages() %}
      <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
      </div>
      {% endfor %}
      <header class="page-header">
        {% block header %}{% endblock %}
      </header>
      {% block page_content %}{% endblock %}
    </div>
    {% endblock %}

    {% block footer %}
    {% include "includes/footer.html.j2" %}
    {% endblock %}
  </div>

  {% block js %}
  {% include "includes/js.html.j2" %}
  {% endblock %}
</body>
</html>
